<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/main.css"/>
  <script type="module" src="js/admin.js"></script>
</head>

<body>
  <div class="container">

<!-- start hamburger menu nav -->
<%- include('../partials/nav'); %>
<!-- end hamburger menu nav -->

    <div class="main">
      <div class="admin-data"><!-- form data returns here--></div>
    </div>

<!-- start sticky footer -->
<%- include('../partials/footer'); %>    
<!-- end sticky footer -->

  </div>
</body>
</html>