<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- Meet the team %></title>
  <link rel="stylesheet" href="css/main.css"/>
  <script type="module" src="js/client.js"></script>
</head>

<body>
  <div class="container">

<!-- start hamburger menu nav -->
<%- include('../partials/nav'); %>
<!-- end hamburger menu nav -->

    <div class="main">
      <!-- TO DO make profile cards -->
      <div><!-- profile cards go here --></div>
      <div class="card-container">
        <span class="pro">PRO</span>
        <img
            class="round"
            src="/public/images/catjammer-1.jpg"
            alt="user"
        />
        <h3>Micheal Mardell</h3>
        <h6>Calgary</h6>
        <p>
            Web developer </br>
            front-end developer
        </p>
        <div class="buttons">
            <button>
                Email
            </button>
            <button>
                Following
            </button>
    </div>
    </div>
    <div class="card-container">
      <span class="pro">PRO</span>
      <img
          class="round"
          src="/public/images/catjammer-2.jpg"
          alt="user"
      />
      <h3>Brett Searle</h3>
      <h6>Calgary</h6>
      <p>
          Web developer<br />
          front-end developer
      </p>
      <div class="buttons">
          <button >
              Email
          </button>
          <button >
              Following
          </button>
      </div>
    </div>
    <div class="card-container">
      <span class="pro">PRO</span>
      <img
          class="round"
          src="/public/images/catjammer-3.jpg"
          alt="user"
      />
      <h3>Offanel Genelien</h3>
      <h6>Calgary</h6>
      <p>
          Web developer <br />
          front-end developer
      </p>
      <div class="buttons">
          <button>
              Email
          </button>
          <button>
              Following
          </button>

<!-- start sticky footer -->
<%- include('../partials/footer'); %>    
<!-- end sticky footer -->

  </div>
</body>
</html>
