<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
  
    <div class="container">

<!-- start hamburger menu nav -->
<%- include('../partials/nav'); %>
<!-- end hamburger menu nav -->

    <div class="main"><!-- main -->

         <div class="all-card">
                
                <div class="card-container">
                    <span class="pro">PRO</span>
                    <img class="round" src="/images/catjammer-1.jpg" alt="user"/>
                    <h3>Micheal Mardell</h3>
                    <h6>Calgary</h6>
                    <p>
                        Web developer <br>
                        front-end developer
                    </p>
                    <div class="buttons">
                        <button>Email</button>
                        <button>Following</button>
                    </div>
                </div>
                
                <div class="card-container">
                    <span class="pro">PRO</span>
                    <img class="round" src="/images/catjammer-2.jpg" alt="user"/>
                    <h3>Brett Searle</h3>
                    <h6>Calgary</h6>
                    <p>
                        Web developer<br>
                        front-end developer
                    </p>
                    <div class="buttons">
                        <button>Email</button>
                        <button>Following</button>
                    </div>
                </div>
                
                <div class="card-container">
                    <span class="pro">PRO</span>
                    <img class="round" src="/images/catjammer-3.jpg" alt="user"/>
                    <h3>Offanel Genelien</h3>
                    <h6>Calgary</h6>
                    <p>
                        Web developer <br>
                        front-end developer
                    </p>
                    <div class="buttons">
                        <button>Email</button>
                        <button>Following</button>
                    </div>
                </div>
            </div>
        </div> <!-- /all-card -->
        
        
<!-- start sticky footer -->
<%- include('../partials/footer'); %>    
<!-- end sticky footer -->

    </div> <!-- /main -->

</body>
</html>
